[*]
max_line_length = 120
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.cs1591.severity = silent
# Fail if using interpolation with ILogger instead of placeholders and arguments
dotnet_diagnostic.CA2254.severity = error

## constant fields should be PascalCase
dotnet_naming_rule.constant_fields_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.constant_fields_should_be_pascal_case.symbols  = constant_fields
dotnet_naming_rule.constant_fields_should_be_pascal_case.style    = pascal_case_style
dotnet_naming_symbols.constant_fields.applicable_kinds   = field
dotnet_naming_symbols.constant_fields.required_modifiers = const
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# fields are _camelCase
dotnet_naming_rule.private_members_with_underscore.symbols = private_fields
dotnet_naming_rule.private_members_with_underscore.style = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

# IDE0160: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.ide0161.severity = suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

# place System usings first when sorting 
dotnet_sort_system_directives_first = true

# IDE0022: Prefer expression bodies for methods when they will be a single line
csharp_style_expression_bodied_methods = when_on_single_line

# puts => on a new line for expression bodies
csharp_wrap_before_arrow_with_expressions = true
resharper_csharp_wrap_before_arrow_with_expressions = true

# Microsoft .NET properties
csharp_style_var_elsewhere = false:none
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:none

# ReSharper properties
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_for_built_in_types = use_var_when_evident
resharper_keep_existing_property_patterns_arrangement = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_before_extends_colon = true
resharper_wrap_chained_method_calls = chop_if_long

# ReSharper warnings
# some set/init required for deserialization
resharper_unused_auto_property_accessor_local_highlighting=hint